{% extends "_layout.html" %}
{% import "_macros.html" as ui %}
{% block content %}
{% for p in paragraphs %}
<p style="margin: 0 0 14px 0;">{{ p | emph }}</p>
{% endfor %}

{% if bullets %}
<ul class="body-text" style="margin: 8px 0 0 0; padding-left: 22px; color: #c8c8cf; font-size: 16px; line-height: 1.65;">
    {% for item in bullets %}
    <li style="margin-bottom: 7px;">{{ item | emph }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if code_text %}
<div style="margin-top: 16px;">{{ ui.code(code_text) }}</div>
{% endif %}
{% endblock %}
